{% extends "main/base.html" %}  {% load static %}


{% block content %}

<div class="ui grid">
  <br>
          <div class="content">Log-in</div>
        </h2>


        <form class="ui large form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <br>

                <input type="text" required name="username" placeholder="Username" value="{{ data.username }}" />


                <input type="password" required name="password" placeholder="Password" />

            <br>


            <button class="ui fluid large teal submit button">Login</button>


        </form>
<br>
        <div class="ui message"><a href="{% url 'reg'  %}"> У вас нет аккаунта? Зарегистрироваться.</a></div>
        

  {% endblock content %}
</div>
